nav {
  display: flex;
  gap: 38px;
  height: 100px;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  height: 96%;
  min-width: 50px;
}

.nav-link:hover {
  color: hsl(220, 13%, 13%);
  border-bottom: 5px solid hsl(26, 100%, 55%);
}
