.container {
  display: flex;
  justify-content: center;
}

.logo {
  position: fixed;
  top: 50px;
  left: 80px;
}

section {
  width: 550px;
  padding-top: 180px;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-task {
  display: flex;
  align-items: center;
  gap: 20px;
}

.add-task-icon:hover {
  cursor: pointer;
  opacity: 0.8;
}

.filter-button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 18px;
  width: fit-content;
  margin-top: 10px;
  background-color: rgb(181, 196, 255);
}
.filter-button:hover {
  filter: brightness(1.1);
}

h1, .add-task {
  font-size: 36px;
}
