.country-container {
  width: 300px;
  height: 350px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--bg-element-color);
}

.flag-container {
  height: 180px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.flag {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.country-info {
  padding: 20px 15px;
}

.country-info p {
  font-size: 14px;
}

.country-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.country-category {
  font-weight: 600;
}