@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: hsl(0, 0%, 97%);
  --text-color: hsl(200, 15%, 8%);
  --bg-element-color: hsl(0, 100%, 100%);
}

.dark-theme {
  --bg-color: hsl(207, 26%, 17%);
  --text-color: hsl(0, 100%, 100%);
  --bg-element-color: hsl(209, 23%, 22%);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Nunito Sans', sans-serif;
}