<div class="container add-page">
  <form>
    <h1 class="form-title">Add a New Book</h1>
    <div class="input-group">
      <label>Book title</label>
      <input type="text" name="title" [(ngModel)]="title">
    </div>

    <div class="input-group">
      <label>Author</label>
      <input type="text" name="title" [(ngModel)]="author">
    </div>

    <div class="input-group">
      <label>Year</label>
      <input type="text" name="title" [(ngModel)]="year">
    </div>

    <div class="input-group">
      <label>Genre</label>
      <input type="text" name="title" [(ngModel)]="genre">
    </div>

    <div class="input-group">
      <label>Description</label>
      <textarea [(ngModel)]="description"  name="description"></textarea>
    </div>

    <div class="input-group">
      <label>Rating</label>
      <input type="text" name="title" [(ngModel)]="rating">
    </div>

    <input type="file"
           (change)="onFileSelected($event)"
           accept="image/*">

    <button class="btn-add" (click)="onSubmit()">
      Add Book
    </button>
  </form>
</div>

