<div class='controls-container'>
  <input class='controls-search' type='text' placeholder='Search for a country...' [(ngModel)]='search' (input)='onFilterChange()' />

  <select class='controls-region' id="region" [(ngModel)]='region' (click)="onFilterChange()">
    <option value="">Filter by Region</option>
    <option value="Africa">Africa</option>
    <option value="Americas">Americas</option>
    <option value="Asia">Asia</option>
    <option value="Europe">Europe</option>
    <option value="Oceania">Oceania</option>
  </select>
</div>
