<div class='details-container'>
  <div class='details-flag-container'>

  </div>
  <div class='details-text'>
    <h1>Belgium</h1>
    <div class='details-info'>
      <div class='details-info-one'>
        <p><span class='details-info-category'>Native Name: </span> Belge</p>
        <p><span class='details-info-category'>Population: </span> 11.319.511</p>
        <p><span class='details-info-category'>Region: </span> Europe</p>
        <p><span class='details-info-category'>Sub Region: </span> Western Europe</p>
        <p><span class='details-info-category'>Capital: </span> Brussels</p>
      </div>
      <div class='details-info-two'>
        <p><span class='details-info-category'>Top Level Domain: </span> .be</p>
        <p><span class='details-info-category'>Currencies: </span> Euro</p>
        <p><span class='details-info-category'>Languages: </span> <span>Dutch,</span> <span>French</span></p>
      </div>
    </div>
    <div class='details-border'>
      <p class='details-info-category'>Border Countries: </p>
      <p class='details-border-items'>
          <span class='details-border-item'>France</span><span class='details-border-item'>Germany</span>
      </p>
    </div>
  </div>
</div>
