.btn-back {
  border: none;
  background-color: var(--bg-element-color);
  color: var(--text-color);
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
}

.btn-back:hover {
  cursor: pointer;
  filter: brightness(1.1);
}