<div class="modal-cart">
  <h3 class="modal-cart-title">Cart</h3>
  <div class="modal-cart-content">
    <div class="cart-items">
      @if (commands.length > 0) {
          @for (command of commands; track command.id) {
            <app-cart-item
              [command]="command"
              (remove)="deleteItem($event)">
            </app-cart-item>
          }
        <button class="checkout-btn">Checkout</button>
      } @else {
        <p class="cart-empty">Your cart is empty</p>
      }
    </div>
  </div>
</div>
