<div class="technology">
  <h1 class="page-title"><span>03</span> SPACE LAUNCH 101</h1>
  <div class="technology-content">
    <div class="technology-index">
      <div
        [ngClass]="{'active': currentTechnologyIndex === 0}"
        class="technology-index-item"
        (click)="technologySelection(0)">1</div>
      <div
        [ngClass]="{'active': currentTechnologyIndex === 1}"
        class="technology-index-item"
        (click)="technologySelection(1)">2</div>
      <div
        [ngClass]="{'active': currentTechnologyIndex === 2}"
        class="technology-index-item"
        (click)="technologySelection(2)">3</div>
    </div>

    <div class="technology-text">
      <h2>THE TERMINOLOGY</h2>
      <h1 class="technology-name">{{ currentTechnology.name | uppercase }}</h1>
      <p class="technology-description">
        {{ currentTechnology.description }}
      </p>
    </div>

    <div class="technology-image-container">
      <img class="technology-image"
           [ngSrc]="currentTechnology.images.portrait"
           width="515"
           height="527"
           alt="technologies"
           priority/>
    </div>

  </div>
</div>
