<div class="todo-container" [ngClass]="{ modified: isModified }">
  <h2 class="todo-title">{{ this.task.title }}</h2>
  <p class="description">
    {{ this.task.description }}
  </p>

  <div class="btn-section" *ngIf="isModified">
    <button class="cancel-btn" (click)="cancelModify()">Annuler</button>
    <button class="add-btn">Ajouter</button>
  </div>
  <button class="validate-btn" *ngIf="!isModified"><img class="validate-img" src="assets/verifier.png" alt="Valider" /> </button>
  <button
    class="modified-btn"
    *ngIf="!isModified"
    (click)="onModify()">Modifier</button>
</div>
