<div class="destination">
  <h1 class="destination-title"><span>01</span> PICK YOUR DESTINATION</h1>
  <div class="destination-content">
    <img [ngSrc]="this.currentDestination.images.png" alt="destination" height="445" width="445" priority/>
    <div class="destination-text-information">
      <ul class="destination-nav">
        @for(destination of destinations; track destination.name){
          <li
            [ngClass]="{ active: destinationSelected === destination.name }"
            (click)="onDestinationSelection(destination.name)">
            {{ destination.name | uppercase }}
          </li>
        }
      </ul>
      <h2 class="destination-planet-name">{{ currentDestination.name | uppercase }}</h2>
      <p class="destination-description">
        {{ currentDestination.description }}
      </p>
      <div class="destination-stats">
        <div class="destination-stats-item">
          <h3>AVG. DISTANCE</h3>
          <p>{{ currentDestination.distance | uppercase }}</p>
        </div>
        <div class="destination-stats-item">
          <h3>EST. TRAVEL TIME</h3>
          <p>{{ currentDestination.travel | uppercase }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
