<div class="crew">
  <h1 class="page-title"><span>02</span> MEET YOUR  CREW</h1>
  <div class="crew-content">
    <div class="crew-content-text">
      <h2 class="crew-profession">{{ currentCrew.role | uppercase }}</h2>
      <h1 class="crew-name">{{ currentCrew.name | uppercase }}</h1>
      <p class="crew-description">
        {{ currentCrew.bio }}
      </p>
    </div>
    <img class="crew-image" [ngSrc]="currentCrew.images.png" alt="crew" width="514" height="700" priority />

    <div class="crew-navigation">
      @for(crew of crew; track crew.name; let i = $index) {
        <div
          [ngClass]="{ active: currentNumber === i }"
          class="crew-navigation-item"
          (click)="crewSelection(i)">
        </div>
      }
    </div>
  </div>
</div>
