<div class="crew">
  <h1 class="page-title"><span>02</span> MEET YOUR  CREW</h1>
  <div class="crew-content">
    <div class="crew-content-text">
      <h2 class="crew-profession">COMMANDER</h2>
      <h1 class="crew-name">DOUGLAS HURLEY</h1>
      <p class="crew-description">
        Douglas Gerald Hurley is an American engineer,
        former Marine Corps pilot and former NASA astronaut.
        He launched into space for the third time as commander of
        Crew Dragon Demo-2.
      </p>
    </div>
    <img class="crew-image" ngSrc="assets/crew/image-douglas-hurley.png" alt="crew" width="514" height="700" priority />

    <div class="crew-navigation">
      <div class="crew-navigation-item"></div>
      <div class="crew-navigation-item"></div>
      <div class="crew-navigation-item"></div>
      <div class="crew-navigation-item"></div>
    </div>
  </div>
</div>
