<section class="description-section">
  <h1 class="brand-name">{{ currentItem?.brand }}</h1>
  <h2 class="model-name">{{ currentItem?.name }}</h2>
  <p class="description">
    {{ currentItem?.description }}
  </p>
  <div class="price-section">
    <p class="price-sale-section"><span class="price-discount">$125.00</span><span class="discount">50%</span></p>
    <p class="price">250.00$</p>
  </div>
  <div class="button-section">
    <div class="quantity-section">
      <img (click)="quantityClick()" class="icon-quantity" ngSrc="assets/images/icon-minus.svg" alt="Minus Icon" height="5" width="12" />
      {{ quantity }}
      <img (click)="quantityClick()" class="icon-quantity" ngSrc="assets/images/icon-plus.svg" alt="Plus Icon" height="12" width="12" />
    </div>
    <button>
      <img ngSrc="assets/images/icon-cart.svg" alt="Cart Icon" height="20" width="22"/>
      Add to cart
    </button>
  </div>
</section>
