<nav>
  <ul class="nav-list">
    <li routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{ exact:true }">
      <a routerLink="" class="nav-link"><span class="link-number">00</span> HOME</a>
    </li>
    <li routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{ exact:true }">
      <a routerLink="destination" class="nav-link"><span class="link-number">01</span> DESTINATION</a>
    </li>
    <li routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{ exact:true }">
      <a routerLink="crew" class="nav-link"><span class="link-number">02</span> CREW</a>
    </li>
    <li routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{ exact:true }">
      <a routerLink="technology" class="nav-link"><span class="link-number">03</span> TECHNOLOGY</a>
    </li>
  </ul>
</nav>
