<div class="container">
  <div class="welcome">
    <h2 class="title-page">Welcome to your Bookshelf</h2>
    <p class="welcome-message">You have 47 books in your collection</p>
  </div>
  <div class="buttons">
    <button routerLink="/add">Add Book</button>
    <button routerLink="list">Book List</button>
  </div>
  <div class="books-list">

    <div class="book-item">
      <img class="book-image" ngSrc="./assets/plant.png" alt="plant" height="823" width="549"/>
      <div class="book-information">
        <h3 class="book-title">Title book</h3>
        <p class="book-description">
          Little description of the book.
          You know, you know. I know, I know.
          You know, you know. I know, I know.
          You know, you know. I know, I know.
        </p>
      </div>
    </div>

    <div class="book-item">
      <img class="book-image" ngSrc="assets/flower.png" alt="flower" height="821" width="549"/>
      <div class="book-information">
        <h3 class="book-title">Title book</h3>
        <p class="book-description">
          Little description of the book.
          You know, you know. I know, I know.
          You know, you know. I know, I know.
          You know, you know. I know, I know.
        </p>
      </div>
    </div>
  </div>
</div>
