<div class="container">
  <div class="welcome">
    <h2 class="title-page">Welcome to your Bookshelf</h2>
    <p class="welcome-message">Here are you last added books</p>
  </div>
  <div class="buttons">
    <button routerLink="/add">Add Book</button>
    <button routerLink="list">Book List</button>
  </div>
  <div class="books-list">

    @for (book of books.slice().reverse().slice(0, 5) ; track book.id) {
      <div class="book-item">
        <img class="book-image" ngSrc="./assets/plant.png" alt="plant" height="823" width="549" priority/>
        <div class="book-information">
          <h3 class="book-title">{{ book.title }}</h3>
          <p class="book-description">
            {{ book.description.slice(0, 120) }}...
          </p>
        </div>
      </div>
    }

  </div>
</div>
