<div class="gallery">
  <img class="gallery-image-main" ngSrc="assets/images/image-product-1.jpg" alt="gallery" height="1000" width="1000" />
  <div class="gallery-image-items">
    <img class="gallery-image-item" ngSrc="assets/images/image-product-1-thumbnail.jpg" alt="gallery" height="176" width="176" />
    <img class="gallery-image-item" ngSrc="assets/images/image-product-1-thumbnail.jpg" alt="gallery" height="176" width="176" />
    <img class="gallery-image-item" ngSrc="assets/images/image-product-1-thumbnail.jpg" alt="gallery" height="176" width="176" />
    <img class="gallery-image-item" ngSrc="assets/images/image-product-1-thumbnail.jpg" alt="gallery" height="176" width="176" />
  </div>
</div>
